<span style="color:white"><%  "Set" %></span>

<p>
  <strong>Name:</strong>
  <%= @set.name %>
</p>

<p>
  <%= link_to "Edit", edit_set_path(@set) %> |
  <%= link_to "Destroy", @set, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", sets_path %>
</p>
