<h1>You are currently participating in the following test</h1>

<% @teams.each do |team| %>

    <% team.tests.each do |test| %>
        <%= test.name %>
        <% if test.test_type_id==1 %>
            <%= link_to "(take Test)", view_checklist_path(:test_id=>test.id, :team_id=>team.id, :check=>true) %>
        <% else %>
            <% link_to "(take Test)", take_test_path(:test_id=>test.id, :team_id=>team.id, :check=>true) %>
        <% end %>
    <% end %>


<% end %>