<h3>List of all students...</h3>
<% @users.each do |user| %>
    <div class="user-info span5" style="border: 1px solid #000000;height: 30px;text-align: center;">
      <%= check_box_tag user.id, user.id, false, :class=>"pull-left" %> <%= user.email %>     <br>
    </div>
<% end %>